{% extends 'base.html' %}
{% block title %}레몬::모의주식{% endblock title %}
{% block container %}
{% load humanize %}
{% load mathfilters %}
   <div style="background-color:#fff; margin:20px 5% 40px 5%; padding: 10px;">
    <div style="text-align:left; font-weight: bold; font-size:16px;">
      <a style="font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size:16pt;">포트폴리오 기반 추천 Top 5</a>
      <div onclick="usdkrw()"style="display: inline-block;float: right;border-radius: 10px; border: 1px solid black; padding: 0 10px 0 10px;margin-top: 4px;">
        <div class="dollar">$</div>
        <div class="won" style="display:none">₩</div>
        <input type="hidden" id="price" value="0">
    </div>
    </div>
        <form id="form" method="post">
            {% csrf_token %}
            <input type="hidden" id="issuecode" name="issuecode">
            <input type="hidden" id="marketcode" name="marketcode">
        </form>
    <div>
      <ol style="padding-left: 1rem !important;">
        <table id="porfolTable" style="width: 100%; margin-top:10px; border-collapse:inherit;">
          {% for recom in category_stock %}
          <tr onclick="info('{{ recom.1 }}','{{ recom.4 }}')">
            <td width='10'>
              <li style="font-weight: bold; color:#8e8e8e;"></li>
            </td>
            <td class="spendTop5-tableTitle" width='50'>
              <a>{{recom.5}}</a>
            </td>
            <td id="usdtd" style="text-align: right;" width='25'>
              <a class="usdtest" style="font-weight:400; color:#3a3a3a">{{ recom.1|truncatechars:500|intcomma }}원</a>
            </td>
          {% empty %}
          <div class="summary-nodata-wrap">
            <a>주식 구매후 추천해드릴게요</a>
          </div>
            {% endfor %}
        </table>
      </ol>
    </div>
  </div><!-- 코스피버전 포트폴리오 탑5 div 끝-->

<div style="background-color:#fff; margin:20px 5% 40px 5%; padding: 10px;">
    <div style="text-align:left; font-weight: bold; font-size:16px;">
        <a style="font-weight: bold; font-family: 'Noto Sans KR', sans-serif; font-size:14pt;">포트폴리오 기반(nasdaq) 추천 Top5</a>
    </div>
    <div>
        <ol style="padding-left: 1rem !important;">
            <table style="width: 100%; margin-top:10px; border-collapse:inherit;">
                {% for recom in nasdaq_top5_price %}

                <tr onclick="info('{{ recom.1 }}','{{ recom.4 }}')">
                    <td width='10'>
                        <li style="font-weight: bold; color:#8e8e8e;"></li>
                    </td>
                    <td class="spendTop5-tableTitle" width='50'>
                        <a>{{recom.5}}</a>
                    </td>
                    <td style="text-align: right;" width='25'>
                        <a style="font-weight:400; color:#3a3a3a">$ {{ recom.0|truncatechars:500|intcomma }}</a>
                    </td>
                    {% empty %}
                    <div class="summary-nodata-wrap">
                        <a>주식 구매후 추천해드릴게요</a>
                    </div>
                    {% endfor %}
            </table>
        </ol>
    </div>
</div><!-- 나스닥버전 포트폴리오 탑5 div 끝-->

{% endblock %}
